:root {
  --theme-color: rgb(245, 177, 248);
  --primary-color: #ff00d4;
  --secundary-color: #3f0482;
  --text-color-inverse: rgb(255, 0, 174);
  --text-color: black;
  --navbar-shallow-color: #e5e5e5;
  --menu-mobile-background-color: #bef4ec;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 70px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--theme-color-inverse);
  color: var(--text-color);
  padding-top: 70px;
}


a {
  text-decoration: none;
  color: var(--text-color);
}

.horizontal-padding {
  padding-left: 25px;
  padding-right: 25px;
}
.vertical-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}
.inicio{
  width: 100%; 
  background-image: url("/img/PORTADA.JPG");
  /* background-size: cover;  */
  background-size: 400px 380px;
  background-position: center top; 
  background-repeat: no-repeat;
  height: 650px;

  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  padding: 15px;
  align-items: center;

}
.inicio img{
  width: 100%;
  height: auto;
}
.ofrecimientos{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 25px;
}

.titulo{
  margin-top: 20px;
}

.nosotros{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.separador{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;

}
.separador img{
  width: 280px; 
}

@media (min-width: 950px) {
  .horizontal-padding {
    padding-left: 70px;
    padding-right: 70px;
  }
  .vertical-padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}


/* * {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #282c34;
  font-family: sans-serif;
  font-size: 3rem;
} */

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(400px, auto);
  gap: 10px;
  padding: 20px;
  grid-auto-flow: dense;
}
.contacto{
  margin-bottom: 100px;
}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
  }

  .tall {
    grid-row: span 2;
  }
}


 

@media (min-width: 801px){
  .cajatitulo h1{
    font-size: 8vh;
  }
  .cajatituloinicio h1{
    font-size: 7vh;

  }
.cualidades ul li{
    font-size: 5vh;
  }
 li{
    font-size: 7vh;
  }
 p{
  font-size: 7vh;
 } 
}
